@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:&display=swap');

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

a{
  color: inherit;
  text-decoration: none;
}

.news-bg {
  background-color: #fff;
}

.bg-color {
  background-color: #e4e8d4;
  min-height: 100vh;
}

.clamp {
  overflow: hidden;
      text-overflow: ellipsis;
      display: -moz-box;
      -moz-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      line-clamp: 3;
      box-orient: vertical;
}